body {
  background: #F96A7F;
}

h1, h2, h3, h4, h5, h6, p, li, label {
  color: #fafafa;
}

blockquote {
  border-left-color: #fafafa;
}

small {
  color: #F7FFF7;
}

a {
  color: #FFE66D;
}

.mellon {
  padding-top: 20px;
}

.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;

  > li {
    display: inline-block;
    padding: 0 0.65em 0 0;
  }
}

.icon > li:last-child {
  padding-right: 0 !important;
}

footer {
  padding-top: 20px;
}

.page-header {
  color: #FFE66D;
}

.send-button, .clear-button {
  color: #fafafa;
  cursor: pointer;
  background: #F96A7F;
  border-color: #FFE66D;
  padding: 5px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
}
